.title {
  margin: 85px 0 25px 0;
  font-size: 45px;

  .link {
    margin-right: 10px;
  }

  .link,
  .link:visited {
    color: #00dffc;
    text-decoration: underline;
  }

  .link:hover {
    color: #f94e3f;
  }
}

.buttons {
  position: relative;
  bottom: 15px;
}

.btn {
  color: #ffc952;
  background: #274555;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 28px;
  border-radius: 8px;

  &:hover {
    cursor: pointer;
    background: rgba(39, 69, 85, 0.5);
  }
}

.quoteBlock {
  width: 750px;
  margin: 75px auto;
  background: rgba(39, 69, 85, 0.25);
  padding: 25px;
  border-radius: 25px;

  &:hover {
    background: rgba(39, 69, 85, 0.22);
  }

  p {
    margin-top: 25px;
    font-size: 30px;
  }

  .quote {
    font-family: "Rasa", serif;
    color: #f94e3f;
  }

  .author {
    color: #ffc952;
    margin-top: 15px;
  }
}
